.icon {
  width: 75px;
  cursor: pointer;
  color: var(--text);
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-size: 0.8rem;

  img {
    width: 100%;
    height: 75px;
    margin-bottom: 2px;
  }

  &:active {
    img {
      transform: scale(0.9);
    }
  }
}